.header {
    display: none;
}

.presentation {
    padding-bottom: 450px;
}

.experience {
    padding-bottom: 500px;
}

.skills {
    padding-bottom: 550px;
}

.education {
    padding-bottom: 600px;
}

.projects {
    padding-bottom: 500px;
}

.download {
    display: none;
}